# ***Name : Noman Khan***
# ***Reg No : 23jzele0551***
# **Lab : 03**

# Lab Practice

**List**

1. Make a list of 5 any integers.

In [3]:
lst1 = [1,2,3,4,5]
print(lst1)

[1, 2, 3, 4, 5]

Make a list that contains the student's name, the last four digits of the registration number as an integer, CGPA as a float, and a list that contains the GPA of all semesters. (Nested List)

In [4]:
student = ['Yahya', 528, 3.91, [3.86,3.95]]
print(student)

['Yahya', 528, 3.91, [3.86, 3.95]]

In [5]:
print(student[2])

3.91

Print the list elements using the while loop and use the length function. (len)

In [6]:
i = 0
while i < len(student):
    print(student[i])
    i += 1

Yahya
528
3.91
[3.86, 3.95]

In [7]:
print(student)

['Yahya', 528, 3.91, [3.86, 3.95]]

Access the list of all semester GPAs using negative indexing.

In [8]:
student[-1]

[3.86, 3.95]

Make a list of the first 20 integers using the range function.

In [9]:
lst2 = [x for x in range(1,21)]
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Make a list of odd integers from 20 to 40 using the range function.

In [10]:
lst3 = [x for x in range(20,40) if x % 2 != 0]
print(lst3)

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

Consider the student list. *Student = [Ibrahim, Husain, Irfan, Ayub, Usman]* Use in and not in operators to ensure that the student is in the list or not.

In [11]:
Students = ['Ibrahim', 'Husain', 'Irfan', 'Ayub', 'Usman']

In [12]:
print('Ibrahim1' in Students)
print('yahya' not in Students)
print('Ayub' in Students)
print('usman' not in Students)

False
True
True
True

Print all the student lists in task 8 using the for loop

In [13]:
for i in Students:
    print(i)

Ibrahim
Husain
Irfan
Ayub
Usman

Observe what is print, what is the first thing print, what the last thing print. Consider task 8 for the student list.
Student [1:3] and student [2:4]

In [14]:
Students [1:3]

['Husain', 'Irfan']

In [15]:
Students [2:4]

['Irfan', 'Ayub']

Make an appropriate list and use and demonstrate the use of the following mutator Methods.
* append(obj)
* extend(iterable)
* insert(index, obj)
* remove(obj)
* pop([index=-1])

In [16]:
lst5 = ['a','b','c','d','e','f']
lst5

['a', 'b', 'c', 'd', 'e', 'f']

In [17]:
lst5.append('g')
lst5

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [18]:
lst5.extend('h')
lst5

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [19]:
lst5.remove('x')
lst5

ValueError: list.remove(x): x not in list

In [20]:
lst5.insert(2, 'x')
lst5

['a', 'b', 'x', 'c', 'd', 'e', 'f', 'g', 'h']

In [21]:
lst5.pop(-1)

'h'

Use list inducing in the following nested list and access each and every element.
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [22]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [23]:
print(x[0])

a

In [24]:
print(x[1][0])

bb

In [25]:
print(x[1][1][0])

ccc

In [26]:
print(x[1][1][1])

ddd

In [27]:
print(x[1][2])

ee

In [28]:
print(x[1][3])

ff

In [29]:
print(x[2])

g

In [30]:
print(x[3][0])

hh

In [31]:
print(x[3][1])

ii

In [32]:
print(x[4])

j

**Tuple**

1. Make a tuple containing first five letters of English. (definition)

In [33]:
tpl1 = ('a','b','c','d','e')

In [34]:
tpl1

('a', 'b', 'c', 'd', 'e')

Use the index to access the third and last element.

In [35]:
tpl1[2]

'c'

In [36]:
tpl1[4]

'e'

Make an appropriate list and tuple and use different operations that will show that list is mutable and tuple is immutable.

In [37]:
lst1 = ['a', 'b', 'c', 'd', 'e']

In [38]:
lst1

['a', 'b', 'c', 'd', 'e']

In [39]:
# .append()
lst1.append('f')    # list is mutable
print(lst1)

['a', 'b', 'c', 'd', 'e', 'f']

In [40]:
# .append()
tpl1.append('f')    # tuple is immutable and show error just after running
print(tpl1)

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
lst1[2] = 'e'   # mutable
lst1

['a', 'b', 'e', 'd', 'e', 'f']

In [42]:
tpl1[0] = 'x'   # immutable it shwo an error juct after running
tpl1

TypeError: 'tuple' object does not support item assignment

Make a tuple num = (1, 2, 3, 4). a. Observe the output num[2] = 9

In [43]:
num[2] = 9  # i abserb that tuple is immutable

NameError: name 'num' is not defined

**Dictionary**

consider the following structure and observe. Fd= { ‘one’: ‘aik’, , ‘three’: ‘teen’, ‘ten’ : ‘das’, ‘fifteen’ : ‘pandra’}
Bracket type
* Print Fd
* Fd[‘one’]
* Fd[‘ten’]
* del Fd[‘three’] and then print Fd.
* Len(Fd).
* Use the key method and print the list of keys.
* Use the value function to print the list of values.
* Observe the output of Fd.items().
* Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such type of output will help and required.
* To copy the dictionary, one may use one of the following. Verify by printing copy and alias.
* copy = Fd.copy()
* alias = Fd
* Now let alias[‘three’] = ‘3’, now print alias and observe the result.
* Also let copy[‘three’] = ‘3’, now print copy and observe the result.

In [44]:
fd= { 'one': 'aik', 'three': 'teen', 'ten' : 'das', 'fifteen' : 'pandra'}
print(type({}))

<class 'dict'>

In [45]:
print(fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [46]:
fd['one']

'aik'

In [47]:
fd['ten']

'das'

In [48]:
del fd['three']
print(fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [49]:
len(fd)

3

In [50]:
fd.keys()

dict_keys(['one', 'ten', 'fifteen'])

In [51]:
fd.values()

dict_values(['aik', 'das', 'pandra'])

In [52]:
fd.items()

dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

In [53]:
fd.has_key('one')   # in ptython 3 .has_key methode were remove after running it show error

AttributeError: 'dict' object has no attribute 'has_key'

 Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such type of output will help and required

To copy the dictionary, one may use one of the following. Verify by printing copy and alias.
* copy = Fd.copy()
* alias = Fd
* Now let alias[‘three’] = ‘3’, now print alias and observe the result.
* Also let copy[‘three’] = ‘3’, now print copy and observe the result.

In [54]:
copy = fd.copy()

In [55]:
alias = copy

In [56]:
alias['three'] = '3'
alias

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [57]:
copy['three'] = '3'
copy

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

Make an appropriate dictionary and use the following built-in function and observe the
result.
* .clear()
* .get()
* .item()
* .keys()
* .vallues()

In [58]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'f':5}
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'f': 5}

In [59]:
dict1.get('b')    #.get()

2

In [60]:
dict1.get('b')    #.get()

2

In [61]:
dict1.get('f')  # .get()

5

In [62]:
dict1.items()     #  .items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('f', 5)])

In [63]:
dict1.keys()     # .keys()

dict_keys(['a', 'b', 'c', 'd', 'f'])

In [64]:
dict1.values()       # .values()

dict_values([1, 2, 3, 4, 5])

In [65]:
dict1.clear()          # .clear()

In [66]:
dict1

{}

**List comprehension:**

a. Consider the following code and print the square.

In [67]:
squares = []   # this simple way to print squares of number  from 1 to 10
for x in range(10):
 squares.append(x * x)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Replace the above code with the following. Print the square. This sample one-line code is called list comprehension.

In [68]:
squares = [x * x for x in range(10)]  # this list comprehension way to print squares of number  from 1 to 10
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
Change x*x by any function of x and observe the resulting list.

SyntaxError: invalid syntax (202750627.py, line 1)

In [70]:
squares = [x for x in range(10)] 
squares

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

List comprehensions can filter values based on some arbitrary condition that decides whether or not the resulting value becomes a part of the output list.

In [71]:
even_squares = [x * x for x in range(10) if x % 2 == 0]   # list  comperhension
even_squares

[0, 4, 16, 36, 64]

The generalized syntax: values = [expression for item in collection if condition]
This new list comprehension can be transformed into an equivalent for-loop:

In [72]:
even_squares = []           #  simple form to print number with for loop
for x in range(10):
    if x % 2 == 0:
        even_squares.append(x * x)
even_squares

[0, 4, 16, 36, 64]

**Dictionary comprehension:**

In [73]:
a. { x: x * x for x in range(5) }

SyntaxError: invalid syntax (3406164579.py, line 1)

In [74]:
a = { x: x * x for x in range(5) }

In [75]:
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}